In [31]:
# imports
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from datetime import datetime, timedelta

In [32]:
crashes = pd.read_csv('./data/Motor_Vehicle_Collisions_-_Crashes_20241103.csv', low_memory=False)
# crashes

In [33]:
crashes_copy = crashes.copy()
crashes_copy

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2131155,08/06/2024,20:39,NaN,NaN,NaN,NaN,NaN,CLEARVIEW EXPRESSWAY,35 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4746046,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
2131156,08/06/2024,12:00,QUEENS,11001,NaN,NaN,NaN,JAMAICA AVENUE,LITTLE NECK PARKWAY,NaN,...,Unspecified,NaN,NaN,NaN,4746496,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2131157,07/29/2024,2:30,NaN,NaN,40.723442,-73.938990,"(40.723442, -73.93899)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4746455,Tractor Truck Diesel,Sedan,NaN,NaN,NaN
2131158,08/02/2024,15:48,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4746469,Sedan,Pick-up Truck,NaN,NaN,NaN
2131159,08/06/2024,12:46,NaN,NaN,NaN,NaN,NaN,EAST 140 STREET,HARLEM RIVER DRIVE,NaN,...,Unspecified,Unspecified,NaN,NaN,4746066,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN

#### ** Processing: **
* Separate CRASH_DATE into 3 date fields, year, month day
* Find out if date is a holiday - isHoliday feature
* OneHotEncoding - borough
*

In [34]:
cutoff_date = datetime.now() - timedelta(days=10*365)
crashes_copy['CRASH DATE'] = pd.to_datetime(crashes_copy['CRASH DATE'], format='%m/%d/%Y')

crashes_copy["CRASH_DATE"] = pd.to_datetime(crashes_copy["CRASH DATE"], format='%m/%d/%Y')
crashes_copy["CRASH_DATE_YEAR"] = crashes_copy["CRASH DATE"].dt.year
crashes_copy["CRASH_DATE_MONTH"] = crashes_copy["CRASH DATE"].dt.month
crashes_copy["CRASH_DATE_DAY"] = crashes_copy["CRASH DATE"].dt.day
filtered_crashes = crashes_copy[crashes_copy['CRASH DATE'] >= cutoff_date]

filtered_crashes.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,CRASH_DATE,CRASH_DATE_YEAR,CRASH_DATE_MONTH,CRASH_DATE_DAY
0,2021-09-11,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,4455765,Sedan,Sedan,NaN,NaN,NaN,2021-09-11,2021,9,11
1,2022-03-26,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,4513547,Sedan,NaN,NaN,NaN,NaN,2022-03-26,2022,3,26
2,2022-06-29,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN,2022-06-29,2022,6,29
3,2021-09-11,9:35,BROOKLYN,11208,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,4456314,Sedan,NaN,NaN,NaN,NaN,2021-09-11,2021,9,11
4,2021-12-14,8:13,BROOKLYN,11233,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,4486609,NaN,NaN,NaN,NaN,NaN,2021-12-14,2021,12,14

In [35]:
filtered_crashes.dropna(subset=["BOROUGH"],  inplace=True)
filtered_crashes.size

# Certain remove columns. Vehicle info in vehicle dataset, joined based on collision id
filtered_crashes.drop(["ZIP CODE","LATITUDE", "LONGITUDE", "LOCATION", "ON STREET NAME", "CROSS STREET NAME", "OFF STREET NAME", "NUMBER OF CYCLIST INJURED", "NUMBER OF CYCLIST KILLED", "NUMBER OF PEDESTRIANS INJURED", "NUMBER OF PEDESTRIANS KILLED",  "VEHICLE TYPE CODE 1", "VEHICLE TYPE CODE 2", "VEHICLE TYPE CODE 3", "VEHICLE TYPE CODE 4", "VEHICLE TYPE CODE 5", "CONTRIBUTING FACTOR VEHICLE 3", "CONTRIBUTING FACTOR VEHICLE 4", "CONTRIBUTING FACTOR VEHICLE 5"], axis=1, inplace=True)

print(filtered_crashes.columns)

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'COLLISION_ID', 'CRASH_DATE',
       'CRASH_DATE_YEAR', 'CRASH_DATE_MONTH', 'CRASH_DATE_DAY'],
      dtype='object')

/tmp/ipykernel_9616/265171644.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_crashes.dropna(subset=["BOROUGH"],  inplace=True)
/tmp/ipykernel_9616/265171644.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_crashes.drop(["ZIP CODE","LATITUDE", "LONGITUDE", "LOCATION", "ON STREET NAME", "CROSS STREET NAME", "OFF STREET NAME", "NUMBER OF CYCLIST INJURED", "NUMBER OF CYCLIST KILLED", "NUMBER OF PEDESTRIANS INJURED", "NUMBER OF PEDESTRIANS KILLED",  "VEHICLE TYPE CODE 1", "VEHICLE TYPE CODE 2", "VEHICLE TYPE CODE 3", "VEHICLE TYPE CODE 4", "VEHICLE TYPE CODE 5", "CONTRIBUTING FACTOR VEHICLE 3", "CONTRIBUTING FACTOR VEHICLE 4", "CONTRIBUTING FACTOR VEHICLE 5"], axis=1, inplace=True)

In [36]:
for col in filtered_crashes.columns:
    print(col)
    print(filtered_crashes[col].unique())

CRASH DATE
<DatetimeArray>
['2021-09-11 00:00:00', '2021-12-14 00:00:00', '2021-12-11 00:00:00',
 '2021-12-13 00:00:00', '2021-12-12 00:00:00', '2022-07-12 00:00:00',
 '2022-04-24 00:00:00', '2022-03-08 00:00:00', '2022-04-22 00:00:00',
 '2022-04-12 00:00:00',
 ...
 '2024-05-29 00:00:00', '2024-05-31 00:00:00', '2024-06-24 00:00:00',
 '2024-06-13 00:00:00', '2024-06-19 00:00:00', '2024-06-23 00:00:00',
 '2024-06-22 00:00:00', '2024-06-25 00:00:00', '2024-06-28 00:00:00',
 '2024-07-07 00:00:00']
Length: 3615, dtype: datetime64[ns]
CRASH TIME
['9:35' '8:13' '8:17' ... '1:44' '5:07' '3:44']
BOROUGH
['BROOKLYN' 'BRONX' 'MANHATTAN' 'QUEENS' 'STATEN ISLAND']
NUMBER OF PERSONS INJURED
[ 0.  2.  4.  1.  5.  7.  3.  6.  9. 18.  8. 10. 14. 13. 15. 11. 17. 12.
 20. nan 22. 16. 31. 19. 27. 32. 24. 23. 34. 25.]
NUMBER OF PERSONS KILLED
[ 0.  1.  2.  3. nan  8.  4.]
NUMBER OF MOTORIST INJURED
[ 0  2  4  1  5  7  3  6  9 18  8 10 14 13 15 11 17 12 20 21 16 31 19 22
 30 24 23 34 25]
NUMBER OF MOTORIST KILLED
[0 1 2 3]
CONTRIBUTING FACTOR VEHICLE 1
['Unspecified' nan 'Driver Inexperience' 'Passing Too Closely'
 'Turning Improperly' 'Reaction to Uninvolved Vehicle' 'Steering Failure'
 'Following Too Closely' 'Passing or Lane Usage Improper'
 'Driver Inattention/Distraction' 'Oversized Vehicle'
 'Unsafe Lane Changing' 'Alcohol Involvement' 'View Obstructed/Limited'
 'Traffic Control Disregarded' 'Failure to Yield Right-of-Way'
 'Aggressive Driving/Road Rage' 'Unsafe Speed' 'Pavement Slippery'
 'Illnes' 'Lost Consciousness' 'Other Vehicular' 'Brakes Defective'
 'Backing Unsafely' 'Passenger Distraction' 'Fell Asleep'
 'Obstruction/Debris' 'Tinted Windows'
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion' 'Animals Action'
 'Drugs (illegal)' 'Outside Car Distraction' 'Tire Failure/Inadequate'
 'Pavement Defective' 'Fatigued/Drowsy' 'Accelerator Defective'
 'Physical Disability' 'Glare' 'Driverless/Runaway Vehicle'
 'Eating or Drinking' 'Failure to Keep Right' 'Cell Phone (hands-free)'
 'Lane Marking Improper/Inadequate' 'Headlights Defective'
 'Cell Phone (hand-Held)' 'Using On Board Navigation Device'
 'Traffic Control Device Improper/Non-Working' 'Windshield Inadequate'
 'Vehicle Vandalism' 'Other Electronic Device' 'Prescription Medication'
 'Texting' 'Tow Hitch Defective' 'Other Lighting Defects'
 'Shoulders Defective/Improper' 'Listening/Using Headphones' '80'
 'Reaction to Other Uninvolved Vehicle' '1' 'Drugs (Illegal)' 'Illness'
 'Cell Phone (hand-held)']
CONTRIBUTING FACTOR VEHICLE 2
[nan 'Unspecified' 'Driver Inattention/Distraction'
 'Passing or Lane Usage Improper' 'Reaction to Uninvolved Vehicle'
 'Traffic Control Disregarded' 'Following Too Closely' 'Other Vehicular'
 'Unsafe Speed' 'Aggressive Driving/Road Rage'
 'Failure to Yield Right-of-Way' 'Turning Improperly'
 'Driver Inexperience' 'View Obstructed/Limited' 'Oversized Vehicle'
 'Passing Too Closely'
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion'
 'Unsafe Lane Changing' 'Backing Unsafely' 'Alcohol Involvement'
 'Outside Car Distraction' 'Passenger Distraction' 'Obstruction/Debris'
 'Vehicle Vandalism' 'Pavement Slippery'
 'Traffic Control Device Improper/Non-Working' 'Tinted Windows'
 'Brakes Defective' 'Pavement Defective' 'Failure to Keep Right'
 'Fell Asleep' 'Driverless/Runaway Vehicle' 'Drugs (illegal)'
 'Fatigued/Drowsy' 'Headlights Defective' 'Glare' 'Other Lighting Defects'
 'Cell Phone (hands-free)' 'Cell Phone (hand-Held)' 'Steering Failure'
 'Lane Marking Improper/Inadequate' 'Tow Hitch Defective'
 'Listening/Using Headphones' 'Lost Consciousness'
 'Tire Failure/Inadequate' 'Accelerator Defective' 'Illnes'
 'Other Electronic Device' 'Animals Action' 'Prescription Medication'
 'Shoulders Defective/Improper' 'Using On Board Navigation Device'
 'Physical Disability' 'Eating or Drinking' 'Texting'
 'Windshield Inadequate' '80' '1' 'Illness'
 'Reaction to Other Uninvolved Vehicle' 'Drugs (Illegal)'
 'Cell Phone (hand-held)']
COLLISION_ID
[4456314 4486609 4486660 ... 4746425 4746547 4746496]
CRASH_DATE
<DatetimeArray>
['2021-09-11 00:00:00', '2021-12-14 00:00:00', '2021-12-11 00:00:00',
 '2021-12-13 00:00:00', '2021-12-12 00:00:00', '2022-07-12 00:00:00',
 '2022-04-24 00:00:00', '2022-03-08 00:00:00', '2022-04-22 00:00:00',
 '2022-04-12 00:00:00',
 ...
 '2024-05-29 00:00:00', '2024-05-31 00:00:00', '2024-06-24 00:00:00',
 '2024-06-13 00:00:00', '2024-06-19 00:00:00', '2024-06-23 00:00:00',
 '2024-06-22 00:00:00', '2024-06-25 00:00:00', '2024-06-28 00:00:00',
 '2024-07-07 00:00:00']
Length: 3615, dtype: datetime64[ns]
CRASH_DATE_YEAR
[2021 2022 2019 2016 2024 2020 2023 2018 2017 2015 2014]
CRASH_DATE_MONTH
[ 9 12  7  4  3  2 11  6  5  8 10  1]
CRASH_DATE_DAY
[11 14 13 12 24  8 22  7  9  4  1 10  5 26 21 25 16 20 23 27  3  6  2 30
 31 15 28 19 29 17 18]

In [37]:
# Tentative remove NAs. Possibly replace with 0
filtered_crashes.dropna(subset=["NUMBER OF PERSONS INJURED"], inplace=True)

# Tentative remove NAs.
filtered_crashes.dropna(subset=["NUMBER OF PERSONS KILLED"], inplace=True)

/tmp/ipykernel_9616/3782651999.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_crashes.dropna(subset=["NUMBER OF PERSONS INJURED"], inplace=True)
/tmp/ipykernel_9616/3782651999.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_crashes.dropna(subset=["NUMBER OF PERSONS KILLED"], inplace=True)

In [38]:
# Shows how commonly alcohol and driver inexperience are listed as contributing factores in each column
print(filtered_crashes.loc[filtered_crashes["CONTRIBUTING FACTOR VEHICLE 1"] == "Alcohol Involvement"].size)
print(filtered_crashes.loc[filtered_crashes["CONTRIBUTING FACTOR VEHICLE 2"] == "Alcohol Involvement"].size)

print(filtered_crashes.loc[filtered_crashes["CONTRIBUTING FACTOR VEHICLE 1"] == "Driver Inexperience"].size)
print(filtered_crashes.loc[filtered_crashes["CONTRIBUTING FACTOR VEHICLE 2"] == "Driver Inexperience"].size)

190498
11606
259630
47684

In [39]:
# Holidays
from pandas.tseries.holiday import USFederalHolidayCalendar

cal = USFederalHolidayCalendar()
holidays = cal.holidays(start='2010-01-01', end='2025-12-31').to_pydatetime()

def isHoliday(row):
    return row["CRASH DATE"] in holidays

filtered_crashes["isHoliday"] = filtered_crashes.apply(isHoliday, axis=1)

/tmp/ipykernel_9616/1175022431.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_crashes["isHoliday"] = filtered_crashes.apply(isHoliday, axis=1)

In [40]:
print(filtered_crashes.head)

<bound method NDFrame.head of         CRASH DATE CRASH TIME    BOROUGH  NUMBER OF PERSONS INJURED  \
3       2021-09-11       9:35   BROOKLYN                        0.0
4       2021-12-14       8:13   BROOKLYN                        0.0
7       2021-12-14       8:17      BRONX                        2.0
8       2021-12-14      21:10   BROOKLYN                        0.0
9       2021-12-14      14:58  MANHATTAN                        0.0
...            ...        ...        ...                        ...
2131117 2024-07-19      18:00   BROOKLYN                        0.0
2131134 2024-07-07      14:12      BRONX                        0.0
2131144 2024-07-21      18:05   BROOKLYN                        0.0
2131145 2024-05-12      10:34     QUEENS                        0.0
2131156 2024-08-06      12:00     QUEENS                        0.0

         NUMBER OF PERSONS KILLED  NUMBER OF MOTORIST INJURED  \
3                             0.0                           0
4                             0.0                           0
7                             0.0                           2
8                             0.0                           0
9                             0.0                           0
...                           ...                         ...
2131117                       0.0                           0
2131134                       0.0                           0
2131144                       0.0                           0
2131145                       0.0                           0
2131156                       0.0                           0

         NUMBER OF MOTORIST KILLED CONTRIBUTING FACTOR VEHICLE 1  \
3                                0                   Unspecified
4                                0                           NaN
7                                0                   Unspecified
8                                0           Driver Inexperience
9                                0           Passing Too Closely
...                            ...                           ...
2131117                          0            Turning Improperly
2131134                          0                   Unspecified
2131144                          0              Backing Unsafely
2131145                          0                   Unspecified
2131156                          0         Following Too Closely

        CONTRIBUTING FACTOR VEHICLE 2  COLLISION_ID CRASH_DATE  \
3                                 NaN       4456314 2021-09-11
4                                 NaN       4486609 2021-12-14
7                         Unspecified       4486660 2021-12-14
8                         Unspecified       4487074 2021-12-14
9                         Unspecified       4486519 2021-12-14
...                               ...           ...        ...
2131117                   Unspecified       4746359 2024-07-19
2131134                           NaN       4746320 2024-07-07
2131144                   Unspecified       4746425 2024-07-21
2131145                   Unspecified       4746547 2024-05-12
2131156                   Unspecified       4746496 2024-08-06

         CRASH_DATE_YEAR  CRASH_DATE_MONTH  CRASH_DATE_DAY  isHoliday
3                   2021                 9              11      False
4                   2021                12              14      False
7                   2021                12              14      False
8                   2021                12              14      False
9                   2021                12              14      False
...                  ...               ...             ...        ...
2131117             2024                 7              19      False
2131134             2024                 7               7      False
2131144             2024                 7              21      False
2131145             2024                 5              12      False
2131156             2024                 8               6      False

[1088864 rows x 15 columns]>

In [41]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

ct = make_column_transformer(
(OneHotEncoder(sparse_output=False),
['BOROUGH']),
remainder="passthrough")
ct.set_output(transform="pandas")
encoded_crashes = ct.fit_transform(filtered_crashes)

In [42]:
encoded_crashes.rename(columns={'remainder__COLLISION_ID': 'COLLISION_ID'}, inplace=True)

#print(encoded_crashes.head)
print(encoded_crashes.columns)

Index(['onehotencoder__BOROUGH_BRONX', 'onehotencoder__BOROUGH_BROOKLYN',
       'onehotencoder__BOROUGH_MANHATTAN', 'onehotencoder__BOROUGH_QUEENS',
       'onehotencoder__BOROUGH_STATEN ISLAND', 'remainder__CRASH DATE',
       'remainder__CRASH TIME', 'remainder__NUMBER OF PERSONS INJURED',
       'remainder__NUMBER OF PERSONS KILLED',
       'remainder__NUMBER OF MOTORIST INJURED',
       'remainder__NUMBER OF MOTORIST KILLED',
       'remainder__CONTRIBUTING FACTOR VEHICLE 1',
       'remainder__CONTRIBUTING FACTOR VEHICLE 2', 'COLLISION_ID',
       'remainder__CRASH_DATE', 'remainder__CRASH_DATE_YEAR',
       'remainder__CRASH_DATE_MONTH', 'remainder__CRASH_DATE_DAY',
       'remainder__isHoliday'],
      dtype='object')

In [43]:
persons_df = pd.read_csv('./data/Motor_Vehicle_Collisions_-_Person_20241103.csv', low_memory=False)

In [44]:
print(persons_df.columns)

Index(['UNIQUE_ID', 'COLLISION_ID', 'CRASH_DATE', 'CRASH_TIME', 'PERSON_ID',
       'PERSON_TYPE', 'PERSON_INJURY', 'VEHICLE_ID', 'PERSON_AGE', 'EJECTION',
       'EMOTIONAL_STATUS', 'BODILY_INJURY', 'POSITION_IN_VEHICLE',
       'SAFETY_EQUIPMENT', 'PED_LOCATION', 'PED_ACTION', 'COMPLAINT',
       'PED_ROLE', 'CONTRIBUTING_FACTOR_1', 'CONTRIBUTING_FACTOR_2',
       'PERSON_SEX'],
      dtype='object')

In [45]:
merged_df = encoded_crashes.merge(persons_df, on='COLLISION_ID')

In [46]:
# Assuming persons_df is the DataFrame containing person data
# Group by 'COLLISION_ID' and count the number of people for each collision_id
persons_aggregated = persons_df.groupby('COLLISION_ID').size().reset_index(name='num_people')

# Display the first few rows of the aggregated DataFrame
#print(persons_aggregated.head())

# Filter the DataFrame where num_people is 0
multiple_people = persons_aggregated[persons_aggregated['num_people'] >= 1]

# Print the filtered DataFrame
print(multiple_people)

         COLLISION_ID  num_people
0                  37           1
1                  39           1
2                  40           1
3                  44           1
4                  52           1
...               ...         ...
1501559       4767924           1
1501560       4767926           6
1501561       4767928           2
1501562       4767929           4
1501563       4767930           2

[1501564 rows x 2 columns]

In [ ]:
# Join crashes and people on collision id
encoded_crashes = encoded_crashes.merge(persons_aggregated, on='COLLISION_ID', how='left')

# Set NA values in num_people with 0 (if there are any collisions without people data)
encoded_crashes['num_people'].fillna(0, inplace=True)

# Display the first few rows to verify the change
print(encoded_crashes.head())

   onehotencoder__BOROUGH_BRONX  onehotencoder__BOROUGH_BROOKLYN  \
0                           0.0                              1.0
1                           0.0                              1.0
2                           1.0                              0.0
3                           0.0                              1.0
4                           0.0                              0.0

   onehotencoder__BOROUGH_MANHATTAN  onehotencoder__BOROUGH_QUEENS  \
0                               0.0                            0.0
1                               0.0                            0.0
2                               0.0                            0.0
3                               0.0                            0.0
4                               1.0                            0.0

   onehotencoder__BOROUGH_STATEN ISLAND remainder__CRASH DATE  \
0                                   0.0            2021-09-11
1                                   0.0            2021-12-14
2                                   0.0            2021-12-14
3                                   0.0            2021-12-14
4                                   0.0            2021-12-14

  remainder__CRASH TIME  remainder__NUMBER OF PERSONS INJURED  \
0                  9:35                                   0.0
1                  8:13                                   0.0
2                  8:17                                   2.0
3                 21:10                                   0.0
4                 14:58                                   0.0

   remainder__NUMBER OF PERSONS KILLED  remainder__NUMBER OF MOTORIST INJURED  \
0                                  0.0                                      0
1                                  0.0                                      0
2                                  0.0                                      2
3                                  0.0                                      0
4                                  0.0                                      0

   remainder__NUMBER OF MOTORIST KILLED  \
0                                     0
1                                     0
2                                     0
3                                     0
4                                     0

  remainder__CONTRIBUTING FACTOR VEHICLE 1  \
0                              Unspecified
1                                      NaN
2                              Unspecified
3                      Driver Inexperience
4                      Passing Too Closely

  remainder__CONTRIBUTING FACTOR VEHICLE 2  COLLISION_ID  \
0                                      NaN       4456314
1                                      NaN       4486609
2                              Unspecified       4486660
3                              Unspecified       4487074
4                              Unspecified       4486519

  remainder__CRASH_DATE  remainder__CRASH_DATE_YEAR  \
0            2021-09-11                        2021
1            2021-12-14                        2021
2            2021-12-14                        2021
3            2021-12-14                        2021
4            2021-12-14                        2021

   remainder__CRASH_DATE_MONTH  remainder__CRASH_DATE_DAY  \
0                            9                         11
1                           12                         14
2                           12                         14
3                           12                         14
4                           12                         14

   remainder__isHoliday  num_people
0                 False         2.0
1                 False         1.0
2                 False         4.0
3                 False         0.0
4                 False         4.0

/tmp/ipykernel_9616/3657810543.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  encoded_crashes['num_people'].fillna(0, inplace=True)